<div class="container">
  <div class="heading-container">
    <h1 class="title">Gauges</h1>
  </div>
  <div class="gauges-container" *ngIf="isConnectedToSerialDevice | async">
    <ng-container *ngIf="sensorsData$ | async as sensors">
      <mat-card>
        <mat-card-title>Temprature Sensor 1</mat-card-title>
        <mat-card-content>
          <app-large-temprature-gauge
            [value]="sensors.Temprature1"
          ></app-large-temprature-gauge>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Temprature Sensor 2</mat-card-title>
        <mat-card-content>
          <app-temprature-gauge
            [value]="sensors.Temprature2"
          ></app-temprature-gauge>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Temprature Sensor 3</mat-card-title>
        <mat-card-content>
          <app-temprature-gauge
            [value]="sensors.Temprature3"
          ></app-temprature-gauge>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Temprature Sensor 4</mat-card-title>
        <mat-card-content>
          <app-temprature-gauge
            [value]="sensors.Temprature4"
          ></app-temprature-gauge>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Air Flow Sensor</mat-card-title>
        <mat-card-content>
          <app-airflow-gauge [value]="sensors.AirFlow"></app-airflow-gauge>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>RPM Sensor</mat-card-title>
        <mat-card-content>
          <app-rpm-gauge [value]="sensors.RPM"></app-rpm-gauge>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Fuel Flow Sensor</mat-card-title>
        <mat-card-content>
          <app-fuelflow-gauge [value]="sensors.FuelFlow"></app-fuelflow-gauge>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
