.container {
  height: 100%;
  width: 100%;

  .heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .title {
      margin: 0;
      padding: 10px 0 0 20px;
    }
  }

  .gauges-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    mat-card {
      margin: 20px;

      mat-card-content {
        * {
          margin: 20px 40px;
        }
      }
    }
  }
}
